.liar-stripes {
  background-image: linear-gradient(45deg, #ffd1d1 25%, #ffffff 25%, #ffffff 50%, #ffd1d1 50%, #ffd1d1 75%, #ffffff 75%, #ffffff 100%) !important;
  background-size: 23.57px 23.57px !important;
}

a.ProfileTweet-actionButton:hover {
  text-decoration: none;
}

.ProfileTweet-action--dm {
  min-width: 40px !important;
}
